.item {
    display: grid;
    margin: 10px auto;
    width: 90%;
}

.tableResponsive {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

th {
    background: #e94545;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #cf938ecc;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

@media screen and (max-width: 700px) {
    @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        .head {
            display: none;
        }
        tr {
            margin: 0 0 1rem 0;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
        }
        td:before {
            display: flex;
            top: 0;
            left: 6px;
            width: 100%;
            text-align: center;
        }
        /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
        td:nth-of-type(1):before {
            content: "Away Team";
        }
        td:nth-of-type(2):before {
            content: "Home Team";
        }
        td:nth-of-type(3):before {
            content: "Status/Winner";
        }
        td:nth-of-type(4):before {
            content: "Start Date";
        }
        td:nth-of-type(5):before {
            content: "End Date";
        }
    }
}